
<nav class="navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl bg-info mw-100" id="navbarBlur" data-scroll="true">
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>
    <h2>This is Content blog</h2>

</nav>
