
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>DigiMedia - Creative SEO HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="frontendstyle/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="frontendstyle/assets/css/fontawesome.css">
    <link rel="stylesheet" href="frontendstyle/assets/css/templatemo-digimedia-v1.css">
    <link rel="stylesheet" href="frontendstyle/assets/css/animated.css">
    <link rel="stylesheet" href="frontendstyle/assets/css/owl.css">
    <!--

    TemplateMo 568 DigiMedia

    https://templatemo.com/tm-568-digimedia

    -->
</head>
