
<nav class="navbar-main mx-4 shadow-none" xmlns:th="http://www.w3.org/1999/xhtml">
<form class="row g-3" th:action="@{/add-teacher/process}" th:object="${teacherBindingForm}" method="post">
	<div class="col-md-12 m-0">
		<label class="form-label">Firstname</label>
		<input th:field="*{firstname}" type="text" class="form-control m-0" id="firstname">
	</div>
	<div class="col-md-12 m-0">
		<label class="form-label">Lastname</label>
		<input type="text" th:field="*{lastname}" class="form-control m-0" id="lastname">
	</div>
	<div class="col-md-4 m-0">
		<label class="form-label">Gender</label>
		<select id="inputGender" class="form-select">
			<option selected>Choose...</option>
			<option>Male</option>
			<option>Female</option>
		</select>
	</div>
	<div class="col-12 m-0">
		<label class="form-label">Phone</label>
		<input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="">
	</div>
	<div class="col-12 m-0">
		<label class="form-label">Email</label>
		<input type="email" th:field="*{email}" class="form-control" id="email" placeholder="example@gmail.com">
	</div>
	<div class="col-12 m-0">
		<label class="form-label">Place of Birth</label>
		<input type="text" th:field="*{pob}" class="form-control" id="pob" placeholder="1234 Main St">
	</div>
	<div class="col-12 m-0">
		<label class="form-label">Current Address</label>
		<input type="text" th:field="*{currentAddress}" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
	</div>
	<div class="col-md-6 m-0">
		<label for="inputCity" class="form-label">Degree</label>
		<input type="text" th:field="*{degreeName}" class="form-control" id="inputCity">
	</div>
	<div class="col-12 mt-1">
		<button type="submit" class="btn btn-sm btn-primary">Submit</button>
	</div>
</form>
</nav>